<div class="uk-section">
        <div class="uk-container uk-container-small">
            <form class="uk-form-horizontal uk-margin-large" action="" method="POST">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">Add new card</legend>
                     {{ card_form.hidden_tag() }}
                    <div class="uk-margin">
                         {{ card_form.category_id.label(class_="uk-form-label") }}
                        <div class="uk-form-controls">
                            {{ card_form.category_id(class_="uk-select uk-form-width-medium") }}
                        </div>
                    </div>

                    {% if card_form.category_id.errors %}
                     <div class="uk-margin">
                         <ul class="uk-list">
                         {% for error in card_form.category_id.errors  %}
                            <li>{{ error }}</li>
                         {% endfor %}
                        </ul>
                     </div>
                    {% endif %}

                    <div class="uk-margin">
                         {{ card_form.card_name.label(class_="uk-form-label") }}
                        <div class="uk-form-controls">
                            {{ card_form.card_name(class_="uk-select uk-form-width-medium") }}
                        </div>
                    </div>

                    {% if card_form.card_name.errors %}
                     <div class="uk-margin">
                         <ul class="uk-list">
                         {% for error in card_form.card_name.errors  %}
                            <li>{{ error }}</li>
                         {% endfor %}
                        </ul>
                     </div>
                    {% endif %}


                    <div class="uk-margin">
                        {{ card_form.submit_card(class_="uk-button uk-button-default") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>